# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# FIXME: for now excluding documentation
man/*.Rd
.Rproj.user

# FIXME: excluding specific test folders
BatchCultures/*
dsqdp chemostat/*